:root {
    --background: #ffffff;
    --color-text: #212121;
    --color-text-secondary: #ffffff;
    --color-text-info: #757575;
    --selected-text: #2196f3;
  }
  html {
    font-size: 10px;
  }
  body {
    font-family: "Roboto", sans-serif;
    background: var(--background);
    color: var(--color-text);
  }
  .logo-header {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none; /* usuwa podkreślenie */
    color: #000000;
  }